main{
    height: 100vh;
    flex: 1;
    background-color: black ;
    display: flex;
}
.circuit{display: flex;flex-direction: column;width: 30%;padding-top:50px;}
.circuit-titulo{margin: 0 auto;padding-bottom: 4px;}
.circuit h1{color: white;font-size: 30px;}

/**A**/
.pilotos-senna li{
    list-style-type: none;
}
.pista{
    padding: 10px;
    border-radius:5px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    color: grey;

}
.pista:hover{cursor: pointer;}
.traco-direita {margin-left: auto;}
.nome-da-pista{
    margin-left: 5px;
}  
.info-circuit-pista-piloto-austria{width: 70%;display: none;}
.circuit-pista{width: 50%;margin-top: 50px;color: white;margin-right: 12px;}
.circuit-pista-texto{padding-bottom:10px;border-top: 1px solid blue;border-bottom: 1px solid blue;border-radius: 10px;}
.circuit-pista li{list-style-type: none;display: flex;font-size: 10px;margin: 0px 10px;}
.circuit-pista-titulo{color: white;font-size: 10px;padding-left: 10px;padding-top: 10px;border-top: 1px solid blue;border-radius: 10px;}
.circuit-pista-subtitulo{font-size: 9px;margin: 5px 4px;}
.circuit-pista-img img{width: 100%;height: 100%;}
.circuit-pista-img{height: 60%;border-top: 2px solid blue;margin-top: 10px ;}
.texto-left{margin-left: auto;}
.piloto-hotlap{width: 40%;color: white;padding-top: 50px;font-size: 10px;}
.piloto-hotlap h1{border: 1px solid blue;padding-left: 10px;margin-bottom: 3px;border-radius: 1px;}
.piloto-hotlap img{width: 100%;border: 1px solid blue;border-radius: 1px;}
.hide{display: flex ;}