:root {
    --color-ferrari: #F91536;
    --color-rbr:     #3671C6;
    --color-mercedes:#6CD3BF;
    --color-mclaren: #F58020;
    --color-alfaromeo:#C92D4B;
    --color-alpine: #2293D1;
    --color-haas: #B6BABD;
    --color-alfatauri: #5E8FAA;
    --color-astonmartin: #358C75;
    --color-williams: #37BEDD;
    --color-equipe: #67676d;
}
