@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@font-face {
  font-family: regular;
  src: url(files/Formula1-Regular_web_0.ttf);
}
@font-face {
  font-family: boldf1;
  src: url(files/Formula1-Bold_web_0.ttf);
}

*{padding: 0;margin:0;box-sizing: border-box;font-family: regular;}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color:#0090d0;
    align-items: center;
}
.logo{margin-left:10px;align-items: center;display: flex;gap: 16px;}
.logo img{width: 50px;margin-left: 20px;}
nav{display: block;}
nav a{transition: 0.4s;color:  white;text-decoration:none;margin-right: 20px;font-size: 16px;}
nav a:hover{transition: 0.4s;font-size:26px ;}


/*Animações*/
.logo-animado{
    font-size: 30px;
    color: transparent;
    background: linear-gradient(#1497be, #1c2aec);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

  .glitch {display: flex;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 500ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    /* color: green; */
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
  }
  

  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
/*Animações*/
.container-timer{background-color: #00314d;width: 100%;height: 90px;display: flex;}
.container-center{width: 80%;height: 90px;margin: 0 auto;display: flex;}
.left{width: 50%;height: 90px;}
.right{background-color: green;width: 50%;height: 90px;}
.container-etapa{margin-top: 10px;background-color: #0090d0;display: inline-block;padding: 3px;border-radius: 3px;}
.container-etapa h2{color: black;font-size: 14px;}
.container-data span,.container-corrida span{color: white;font-size: 10px;}
.container-data{color: white;display: flex;}
.container-header{display: flex;align-items: baseline;gap: 6px;border-bottom: 3px solid white;padding-bottom: 6px;}
.container-corrida{margin-left: 36%;}
.container-footer{height: 30%;display: flex;margin: 0 auto;margin-top: 10px;gap: 20px;}
.container-footer img{height: 100%;border-radius: 4px;}
.container-footer a{color: white;text-decoration: none;font-size: 20px;}
.container-ico span{font-size: 22px;}

.categorias{width: 98%;display: flex;margin: 12px auto;gap: 10px;background-color: #F3F3F3;}
.categoria-card{width:24.5%;height: 400px;background-color: white;}
.categoria-card-imagem{transition: 0.4s;justify-content:flex-end;height: 300px;display: flex;background-image: url(imagens/Senna.jpg);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-card-imagem2{transition: 0.4s;justify-content:flex-end;height: 300px;display: flex;background-image: url(imagens/niki\ lauda.png);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-card-imagem3{transition: 0.4s;justify-content:flex-end;height: 300px;display: flex;background-image: url(imagens/volante.jpg);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-card-imagem4{transition: 0.4s;justify-content:flex-end;height: 300px;display: flex;background-image: url(imagens/f2.jpg);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-background{width: 100%;}
.trofeu{width: 50px;height: 50px;margin: 4px 8px;}
.categoria-card-texto{gap: 10px;display: flex;flex-direction: column;text-align: center;}
.categoria-card-texto h1{margin-top:10px;text-align: center;font-size: 16px;font-family: boldf1;}
.categoria-card-texto h2{font-size: 12px;}
#card-senna-imagem{transition: 0.4s;}
#Card-Senna:hover{background-color: #20ab20f0;transition: 0.4s;color: white;}
#Card-Senna{transition: 0.4s;}
#Card-Lauda:hover{background-color: rgb(224, 5, 5);transition: 0.4s;color: white;}
#Card-Lauda{transition: 0.4s;}
#Card-Volante:hover{background-color: rgb(255 94 0);;transition: 0.4s;color: white;}
#Card-Volante{transition: 0.4s;}
#Card-F2:hover{background-color: #0090d0;transition: 0.4s;color: white;}
#Card-F2{transition: 0.4s;}

/**Footer**/
.footer{width: 100%;height: 120px;background-color:#00314d;font-size: 10px;text-align: center;}
.footer img{width: 40px;height: 40px;}
.patrocinadores-footer{display: flex;justify-content: space-between;align-items: center;padding: 10px 0;gap: 10px;}
.redes-footer{border-bottom: #0090D0 1px solid;display: flex;justify-content: space-between;align-items: center;padding: 5px 0;}
.centralizar-footer{width: 50%;margin: 0 auto;}
.redes-footer img,.patrocinadores-footer img{margin-left: 10px;border: #0090D0 1px solid;padding: 5px;}
.creditos-footer{padding: 12px 0;font-size: 10px;}
.rede-footer img:hover,.patrocinadores-footer img:hover{background-color: white;}

/**Responsividade header ;) **/

@media screen and (max-width: 800px){

  header span,header a,.glitch{font-size: 10px;}
  .logo img{width: 40px;}
}
@media screen and (max-width: 550px){

  header span,header a,.glitch{font-size: 8px;}
  .logo img{width: 30px;}
}
@media screen and (max-width: 468px){
  header span,header a,.glitch{font-size: 10px;}
  nav{display: none;}
  .logo{width: 100%}
  .glitch{margin-left: 19%;}
}
/**Responsividade header FIM - FIM ;) **/

/**Responsividade Next-Racing - Timer**/
@media screen and (max-width:1200px){
  .container-center{width: 90%;}
}
@media screen and (max-width:1080px){
  .container-center{width: 96%;}
}
@media screen and (max-width:1010px){
  .container-corrida{margin-left: 30%;}
  
}
@media screen and (max-width:920px){
  .container-header{font-size: 10px;}
  .container-footer span{font-size: 16px;}
  .left h2{font-size: 10px;}
  .container-corrida{margin-left: 28%;}
}
@media screen and (max-width:841px){
  .container-corrida{margin-left: 20%;}
}
@media screen and (min-width:768px){
  .container-timer-celular{display: none;}
}
@media screen and (max-width:768px){
  .container-timer{display: none;}
  .container-timer-celular{display: flex;}
}
/**Container-timer-celular**/
.container-timer-celular{padding: 10px 0;background-color: #00314d;width: 100%;justify-content: space-around;color: white;font-size: 12px;text-align: center;}
.container-timer-celular-left h1{background-color: #0090d0;border-radius: 5px;padding: 5px;margin-top:3px}
.lin0,.lin1{margin-bottom: 5px;}
.lin2{display: flex;font-size: 6px;gap: 10px;margin-left: 28px;}
.container-timer-celular-right img{width: 50px;border-radius: 5px;margin-top:5px;}

/**Container-timer-celular-FIM-FIM**/
@media screen and (max-width:410px){
  .container-timer-celular{font-size: 9px;}
  .container-timer-celular-left h1{padding: 3px;margin-top: 8px;}
  .lin2{font-size: 5px;margin-left: 20px;}
}
@media screen and (max-width:375px){
  .glitch{margin-left: 10%;}
}