/*Animações*/
.container-timer{background-color: #00314d;width: 100%;height: 90px;display: flex;}
.left{width: 47%;margin: 0 auto;}
.right{width: 50%;height: 90px;display: flex;gap: 45px;justify-content: center;align-items: center;text-align: center;}
.container-etapa{margin-top: 10px;background-color: #0090d0;display: inline-block;padding: 3px;border-radius: 3px;}
.container-etapa h2{color: black;font-size: 14px;}
.container-data span,.container-corrida span{color: white;font-size: 10px;}
.container-data{color: white;display: flex;}
.container-header{display: flex;align-items: baseline;gap: 6px;border-bottom: 3px solid white;padding-bottom: 6px;}
.container-corrida{margin-left: 36%;}
.container-footer{height: 30%;display: flex;margin: 0 auto;margin-top: 10px;gap: 20px;}
.container-footer img{height: 100%;border-radius: 4px;}
.container-footer a{color: white;text-decoration: none;font-size: 20px;}
.container-ico span{font-size: 22px;}

.categorias{width: 98%;display: flex;margin: 12px auto;gap: 10px;background-color: #F3F3F3;flex-wrap: wrap;}
.categoria-card{width:24%;height: 400px;background-color: white;}
.categoria-card-imagem-aniversario-idols{transition-duration: 0.4s!important;justify-content:flex-end;height: 300px;display: flex;background-image: url('../imagens/aniversario-idols.jpg');width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-card-imagem{transition-duration: 0.4s!important;justify-content:flex-end;height: 300px;display: flex;background-image: url(../imagens/Senna.jpg);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-card-imagem2{transition-duration: 0.4s!important;justify-content:flex-end;height: 300px;display: flex;background-image: url(../imagens/niki\ lauda.png);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-card-imagem3{transition-duration: 0.4s!important;justify-content:flex-end;height: 300px;display: flex;background-image: url(../imagens/volante.jpg);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-card-imagem4{transition-duration: 0.4s!important;justify-content:flex-end;height: 300px;display: flex;background-image: url(../imagens/f2.jpg);width: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.categoria-background{width: 100%;}
.trofeu{width: 55px;height: 50px;margin: 4px 8px;}
.categoria-card-texto{gap: 10px;display: flex;flex-direction: column;text-align: center;}
.categoria-card-texto h1{margin-top:10px;text-align: center;font-size: 16px;font-family: boldf1;}
.categoria-card-texto h2{font-size: 12px;}
#card-senna-imagem{transition-duration: 0.4s!important;}
#Card-Senna:hover{background-color: #20ab20f0;transition-duration: 0.4s;color: white;cursor: pointer;}
#Card-aniversario:hover{background-color: #ff00fff0;transition-duration: 0.4s;color: white;cursor: pointer;}
#Card-Senna{transition-duration: 0.4s!important;}
#Card-Lauda:hover{background-color: rgb(224, 5, 5);transition-duration: 0.4s!important;color: white;cursor: pointer;}
#Card-Lauda{transition-duration: 0.4s!important;}
#Card-Volante:hover{background-color: rgb(255 94 0);;transition-duration: 0.4s!important;color: white;}
#Card-Volante{transition-duration: 0.4s!important;}
#Card-F2:hover{background-color: #0090d0;transition-duration: 0.4s!important;color: white;cursor: pointer;}
#Card-F2{transition-duration: 0.4s!important;}

/**Responsividade Next-Racing - Timer**/

  @media screen and (max-width:1010px){
    .container-corrida{margin-left: 30%;}
    
  }
  @media screen and (max-width:920px){
    .container-header{font-size: 10px;}
    .container-footer span{font-size: 14px;}
    .left h2{font-size: 10px;}
    .container-corrida{margin-left: 28%;}
  }
  @media screen and (max-width:841px){
    .container-corrida{margin-left: 20%;}
  }
  @media screen and (min-width:768px){
    .container-timer-celular{display: none;}
  }

  @media screen and (max-width: 1340px){
    .categoria-card{width: 32.6%;}
  }
  @media screen and (max-width: 951px){
      .categoria-card{width: 49%;}
  }
  @media screen and (max-width:668px){
      .categoria-card{width: 98%;}
  }
  @media screen and (max-width:768px){
     .left,.right{width: 98%;}
     .container-timer{flex-wrap: wrap;height: auto;}
     .container-footer img {height: 30px;}
  }
  @media screen and (max-width:1000px){
    .container-footer span{font-size: 14px;}
  }
  @media screen and (max-width:450px){
    .right{font-size: 11px;}
  }
  @media screen and (max-width:320px){
    .right{font-size: 10px;}
  }