.container img{
    width: 100%;
}
.menu{
    padding: 10px 0px;
    margin-left: 20px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-family: boldf1;
    padding: 0px 10px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}