.container{
    width: 100%;
    background-color: rgba(0,0,0,.5);
    background-image: url('../circuitos/image-australia.jpg');
    background-position: center;
    background-size: cover;
    height: 375px;
    color: white;
}
.container h2{
    font-size: 16px;
    background-color: #15151e;
    border-radius: 5px;
    padding: 2px 5px;
}
.conteudo {
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    left: 35%;
    top: 28%;
    font-family: boldf1;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}
.conteudo img{
    width: 200px;
}
.conteudo h1{
    font-size: 60px;
}
.menu{
    padding: 10px 0px;
    margin-left: 20px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-family: boldf1;
    padding: 0px 10px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
.menu-etapa{
    display: flex;
    justify-content: space-evenly;
    background-color: #15151e;
    padding: 10px;
}
.menu-etapa a{
    text-decoration: none;
    color: white;
    font-family: boldf1;
    padding: 0px 10px;
}
.menu-etapa a:hover{
    border-bottom: 2px solid red;
}

/*ETAPAS*/
.etapas{
    margin: 10px;
}
.const-etapas{
    display: flex;
    flex-direction: column;
}

.bandeira{
    width: 80px;
}
.bandeira img{
    width: 100%;
}
.pais-etapas{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: boldf1;
    font-size: 30px;
    letter-spacing: 0.4px;
    background-color: #c2c2c2;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 3px;
}
.data{
    background-color: #15151e;
    padding: 4px;
    border-radius: 3px;
    font-size: 17px;
    align-items: center;
    justify-content: center;

}
.ico{
    padding: 4px;
    border-radius: 3px;
    background-color: #15151e;
    font-size: 18px;
}

#australia{
    background-color: blue;
}
#italia{
    background-color: red;
}
#arabia-saudita{
    background-color: green;
}
#hungria{
    background-color: red;
}
#eua{
    background-color: rgb(250, 0, 42);
}
#abudhabi{
    background-color: aqua;
}

#abudhabi-text{
    margin-right: 96px;
}
#gb-text{
    margin-right: 58px;
}
#miami-text{
    margin-right: 167px;
}
#hungria-text{
    margin-right: 137px;
}
#arabiasaudita-text{
    margin-right: 20px;
}
#italia-text{
    margin-right: 190px;
}
#australia-text{
    margin-right: 119px;
}

.tipo{
    font-size: 11px;
}
.nome-etapa{
    font-size: 14px;
}


/*ETAPAS*/